
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f0f2f5;
  color: #333;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}


form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
  font-size: 1rem;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}


button {
  padding: 8px 12px;
  font-size: 0.9rem;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  min-width: 80px;
}


.submit-btn {
  background-color: #007bff;
}

.submit-btn:hover {
  background-color: #0056b3;
}


.cancel-btn {
  background-color: #6c757d;
}

.cancel-btn:hover {
  background-color: #5a6268;
}


.delete-btn {
  background-color: #dc3545;
}

.delete-btn:hover {
  background-color: #a71d2a;
}


.edit-btn {
  background-color: #28a745;
}

.edit-btn:hover {
  background-color: #1c7c31;
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


li {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease;
  
}

li:hover {
  transform: translateY(-2px);
}

.contact-name{
  width: 150px;
}

.contact-info {
  flex-grow: 1;
}

.contact-info h3 {
  margin: 0 0 4px 0;
  font-size: 1.1rem;
  color: #222;
}

.contact-info p {
  margin: 0;
  font-size: 0.95rem;
  color: #555;
}

.contact-actions {
  display: flex;
  gap: 8px;
}
